* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
}

h1 {
    font-size: 2rem;
    text-align: center;
}

#date {
    width: 300px;
    height: 40px;
}

button {
    background: linear-gradient(to bottom, #4CAF50, #2E8B57);
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  
  button:hover {
    background: linear-gradient(to bottom, #2E8B57, #4CAF50);
  }

.delete-btn {
    background: linear-gradient(to bottom, #af534c, #8b2e37);
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.delete-btn:hover {
    background: linear-gradient(to bottom, #ab2c2a, #e25050);
}

#photo {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 30px;
}

#photo span {
    margin: 20px;
}

.photo-hdurl {
    cursor: pointer;
    max-width: 25%;
    height: auto;
}

#favourites {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.list-group-item {
    position: relative;
    width: 200px;
    border: 1px solid #ccc;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    overflow: hidden;
    margin-top: 20px;
    text-align: center;
}

.list-group-item img {
    width: 100%;
    height: 100px;
}

.list-group-item span {
    display: block;
    padding: 0.5rem;
    height: 50px
}

.div-form {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20vh;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
}

label {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #333;
}

input[type="date"] {
    width: 100%;
    height: 50px;
    margin-bottom: 20px;
    padding: 10px;
    border: none;
    border-radius: 4px;
    background-color: #f2f2f2;
    font-size: 16px;
    color: #333;
    appearance: none;
    -webkit-appearance: none;
    background-image: url('https://cdn4.iconfinder.com/data/icons/ionicons/512/icon-calendar-512.png');
    background-size: 20px;
    background-repeat: no-repeat;
    background-position: calc(100% - 10px) center;
}
  

.main-container {
    position: relative;
    min-height: 100vh;
    background-color: #ddd;
}

#image {
    position: fixed;
    top:0; left: 0;
    background: rgba(0, 0, 0, 0.9);
    height: 100%;
    width: 100%;
    z-index: 100;
    display: none;
}

#image img {
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
    border: 5px solid #fff;
    border-radius: 5px;
    width: 750px;
    object-fit: cover;
}

@media(max-width: 768px) {
    #image img {
        width: 95%;
    }
}

/* .explanation {
    margin-left: 20px;
    margin-left: 20px;
} */